USE [HtmlSelect]
GO
/****** 对象:  Table [dbo].[point]    脚本日期: 08/07/2014 09:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[point](
	[timespan] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[website] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[start_time] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[host] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[client] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_1_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_2_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_3_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_4_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_5_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_2_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_3_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_4_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_5_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_3_2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_4_2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_5_2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_other_3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_0_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_1_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_2_2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_3_3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_other_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_0_1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_0_2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_0_3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_0_4] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_0_5] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_1_2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_1_3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_1_4] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_1_5] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_2_3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_2_4] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_2_5] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[point_other_0] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL
) ON [PRIMARY]
