USE [HtmlSelect]
GO
/****** 对象:  Table [dbo].[key]    脚本日期: 01/19/2015 10:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[key](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[k] [text] COLLATE Chinese_PRC_CI_AS NULL,
	[v] [text] COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_key] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
