USE [HtmlSelect]
GO
/****** 对象:  Table [dbo].[temp_group2]    脚本日期: 11/07/2014 13:46:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_group2](
	[type] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group1] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group2] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group3] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group4] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group5] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group6] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group7] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group8] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[group9] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL
) ON [PRIMARY]
